<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @layer components {
        .navbar-active .hamburger div:first-child {
        @apply rotate-45 translate-y-1.5;
        }
        .navbar-active .hamburger div:last-child {
        @apply -rotate-45 -translate-y-1;
        }
        .navbar-active div:first-child div:first-child div:last-child{
            @apply block lg:flex
        }
    }
    </style>
    <title>Thrid Brain</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="bg-main container">
    <div class="relative w-full">
        <header>
            <input type="checkbox" name="hbr" id="hbr" class="hbr peer" hidden aria-hidden="true">
            <nav class="fixed z-10 w-full border-b bg-main peer-checked:navbar-active md:absolute">
                <div class="container m-auto px-2 md:px-12 lg:px-7">
                    <div class="flex flex-wrap items-center justify-between gap-6 md:py-3 md:gap-0">
                        <div class="w-full px-6 flex justify-between lg:w-max md:px-0">
                            <a href="/" aria-label="logo" class="flex space-x-2 items-center">
                                <img src="/imgs/third-brain.png" alt="logo" class="h-10 w-30">
                            </a>
                            <label for="hbr" class="peer-checked:hamburger block relative z-20 p-6 -mr-6 cursor-pointer lg:hidden">
                                <div aria-hidden="true" class="m-auto h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
                                <div aria-hidden="true" class="m-auto mt-2 h-0.5 w-6 rounded bg-sky-900 transition duration-300"></div>
                            </label>
                        </div>
                        <div class="navmenu hidden w-full flex-wrap justify-end items-center mb-16 mx-6 space-y-20 p-6 rounded-xl shadow-lg bg-white lg:space-y-0 lg:p-0 lg:m-0 lg:flex md:flex-nowrap lg:bg-transparent lg:w-7/12 lg:shadow-none">
                            <div class="text-gray-50 lg:pr-4">
                                <ul class="space-y-6 tracking-wide font-medium text-lg lg:text-sm lg:flex lg:space-y-0">
                                    <li>
    <a href="#features" class="block md:px-4 transition hover:text-sky-700">
                                            <span>Features</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#whoIAm" class="block md:px-4 transition hover:text-sky-700">
                                            <span>Who i am ?</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
    
                            <a href="/signup"><div class="w-full space-y-2 border-sky-200 flex flex-col -ml-1 sm:flex-row lg:space-y-0 md:w-max lg:border-l">
                                <button type="button" title="Start buying" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 baseline mainBtn">
                                    <span>
                                        Sign up
                                    </span>
                                </button></a>
                                <a href="/login"><button type="button" title="Start buying" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 baseline mainBtn">
                                    <span>
                                        Login
                                    </span>
                                </button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header> 
    <main>
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content flex-col lg:flex-row-reverse">
              <img src="/imgs/Che.PNG" class="max-w-sm rounded-lg shadow-2xl" />
              <div>
                <h1 class="text-5xl font-bold">Third-brain</h1>
                <p class="py-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illum, nemo perferendis totam animi veritatis corporis minus reiciendis, voluptatum exercitationem eligendi sunt repellendus incidunt soluta vero, voluptate qui assumenda. Pariatur?</p>
                 <a href="/login"><button class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 baseline">Login</button></a>
                <a href="/signup"><button class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 baseline">Signup</button></a>
              </div>
            </div>
          </div>
        <section class="features">
                <div>
                    <div>
                        <h3></h3>
                    </div>
                    <div>
                        <div><i></i>
                            <h4></h4>
                            <span></span>
                        </div>
                        <div>
                            <i></i>
                            <h4></h4>
                            <span></span>
                        </div>
                        <div>
                            <i></i>
                            <h4></h4>
                            <span></span>
                        </div>
                    </div>
                </div>
        </section>
        <section class="whoIAm">
            <div>
                <h3></h3>
                <div>
                    <div>
                        <img src="" alt="">
                        <span></span>
                        <span></span>
                        <div>
                            <p></p>
                            <div>
                                <a href=""><i></i></a>
                                <a href=""><i></i></a>
                                <a href=""><i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
                <div>
                    <h2></h2>
                    <p></p>
                    <a href="/signup"><button></button></a>
                </div>            
        </section>
    </main>
</div>

<%- include('sections/partials/footer') -%>